<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="java webapp mailadmin">
    <meta name="description" content="MailAdmin Web Application">
    <title>MailAdmin</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
  </head>
  <body>
    <header th:replace="~{domain_menubar :: header(${domain})}"
      <hgroup>
        <h1>MailAdmin</h1>
        <h2>Mailboxes manager</h2>
      </hgroup>
      <nav>
        <ul>
          <li class="active" aria-current="page">
            <a>Domain List</a>
          </li>
          <li>
            <a>Overview</a>
          </li>
          <li>
            <a>Change</a>
          </li>
          <li>
            <a>Delete</a>
          </li>
          <li>
            <a>Mailboxes</a>
          </li>
          <li>
            <a>Aliases</a>
          </li>
          <li class="signout">
            <form method="post">
              <button type="submit">Sign Out</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <aside class="flash-messages" th:if="${message}">
        <ul th:remove="all-but-first">
          <li th:each="m : ${messages}" th:text="${m}">Message1</li>
          <li>Message2</li>
          <li>Message3</li>
        </ul>
      </aside>
      <section>
        <h2>Delete <span th:text="${domain.name}">example.com</span></h2>
        <table class="overview" th:replace="~{domain_table :: domain_table(${domain})}">
          <tbody>
            <tr>
              <th scope="row">Name</th>
              <td>example.com</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>Business domain</td>
            </tr>
            <tr>
              <th scope="row">Active</th>
              <td>Yes</td>
            </tr>
            <tr>
              <th scope="row">Backup MX</th>
              <td>No</td>
            </tr>
            <tr>
              <th scope="row">Created on</th>
              <td>2006-01-02 15:04 MST</td>
            </tr>
            <tr>
              <th scope="row">Modified on</th>
              <td>2006-01-02 15:04 MST</td>
            </tr>
          </tbody>
        </table>
        <p>Are you sure you want to delete this domain?</p>
        <form th:action="@{/domains/delete}" method="post">
          <input type="hidden" th:field="${domain.id}" />
          <div>
            <button type="submit">Yes, do it now</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
